html, body{

font-family: sans-serif;
background: url(../img/kelly-sikkema-2Kx1375-90prc.jpg);
/*background-size:cover;*/
background-position: center;
}



main{
  height: 85vh;
  /*text-align: center;*/
  /*background-color: #bfbfbf;*/
}




footer{
  text-align: right;
}


#board-box{
  
  width: 33%;
  height: 100%;
  margin: 0 auto;;
  padding: 1% 0%;
  /*text-align: center;*/
 /* background-color: #c0c0c0;
  opacity: 0.75; */
} 

#header{
	text-align: center;
}

#accordion-outer-box{
	margin: auto 0;
}

div.button-update-container{
	display:inline-block;
	width:13%;
	
}

div.button-del-container{
	display:inline-block;
	width:13%;
}

div.element-description{
	display:inline-block;
	width: 70%;
}

div.branch-left-fill-box{
	display:block;
	width:75;
	heigh: 5vh;
}

div.branch-action-box{
	display: inline-block;
	margin: 0 1% 0 auto;
}

div.branch-action-outter{
	text-align:right;
}



